<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<!-- <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css"> -->
	<!-- <script src="static/bootstrap/js/bootstrap.js"></script> -->
	<script src="static/bootstrap/js/jquery.js"></script>
</head>
<body>
	<center>
		<form action="http://119.23.216.239/tp5/public/?s=index/Index/add_do" method="post">
			<table>
				<tr>
					<td><input type="text" name="name"><input type="button" class="btn btn-info" value="搜索"></td>
				</tr>
			</table>
		</form>
	</center>
</body>
</html>
<script>
	$(document).on('click','.btn',function(){
		alert(123);
	})
</script>