<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>博客后台</title>
    <meta name="description" content="这是一个 user 页面">
    <meta name="keywords" content="user">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__STATIC__/home/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/home/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/home/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC__/home/assets/css/admin.css">
</head>
<body>
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>文章信息管理系统</strong>
    </div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <ul class="am-list admin-sidebar-list">
                    <li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span>博客文章分类管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                            <li><a href="{:url('Index/add_type')}" class="am-cf"><span class="am-icon-check"></span> 分类信息添加<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                            <li><a href="{:url('Index/show_type_list')}"><span class="am-icon-puzzle-piece"></span> 分类信息列表</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="am-list admin-sidebar-list">
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span>博客文章信息管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                            <li><a href="{:url('Index/add_article')}" class="am-cf"><span class="am-icon-check"></span> 文章信息添加<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                            <li><a href="{:url('Index/show_article_list')}"><span class="am-icon-puzzle-piece"></span> 文章信息列表</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- sidebar end -->
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
            </div>
            <hr>
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> <a href="{:url('index/add_article')}">新增</a></button>
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> <a href="">审核</a></button>
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span>  <a href="">删除</a></button>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-form-group">
                        <select data-am-selected="{btnSize: 'sm'}">
                            <option value="option1">所有类别</option>
                            <option value="option2">IT业界</option>
                            <option value="option3">数码产品</option>
                            <option value="option3">笔记本电脑</option>
                            <option value="option3">平板电脑</option>
                            <option value="option3">只能手机</option>
                            <option value="option3">超极本</option>
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field">
                          <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" type="button">搜索</button>
                          </span>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox" /></th>
                                <th class="table-title">文章ID</th>
                                <th class="table-title">文章标题</th>
                                <th class="table-title">文章封面</th>
                                <th class="table-type">发布状态</th>
                                <th class="table-author am-hide-sm-only">作者</th>
                                <th class="table-date am-hide-sm-only">添加时间</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <?php foreach($data as $v) {?>
                                 <tr>
                                    <td><input type="checkbox" /></td>
                                    <td><?= $v['id']?></td>
                                    <td><?= $v['articlename']?></td>
                                    <td><img src="__STATIC__/uploads/<?= $v['img']?>" style="width: 40px;height: 40px;" alt="图片"></td>
                                    <td>
                                        <?php if($v['state']==1){?>
                                        <font class="is_no">发布</font>>
                                        <?php }?>
                                        <?php if($v['state']==0){?>
                                        <font class="is_no">不发布</font>
                                        <?php }?>
                                    </td>
                                    <td class="am-hide-sm-only"><?= $v['adduser']?></td>
                                    <td class="am-hide-sm-only"><?= $v['time']?></td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> <a href="http://www.wanghongjun.top/bo/public/?s=index/index/update.html&id=<?= $v['id']?>">编辑</a></button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" id="<?= $v['id']?>"><span class="am-icon-trash-o"></span> <a href="http://www.wanghongjun.top/bo/public/?s=index/index/del.html&id=<?= $v['id']?>">删除</a></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <?php }?>
                            </tbody>
                        </table>
                        <div class="am-cf">
                            共 15 条记录
                            <div class="am-fr">
                                <ul class="am-pagination">
                                    <!-- <li class="am-disabled"><a href="{$page}">«</a></li> -->
                                    <!-- {volist name='data' id='val'} -->
                                    <li class="am-active"><a href="#">{$page}</a></li>
                                    <!-- {/volist} -->
                                    <!-- <li><a href="{$page}"></a></li> -->
                                </ul>
                            </div>

                        </div>
                        <hr />
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__STATIC__/home/assets/js/jquery.min.js"></script>
<!-- <![endif] -->
<script src="__STATIC__/home/assets/js/amazeui.min.js"></script>
<script src="__STATIC__/home/assets/js/app.js"></script>
</body>
</html>
<script src="__STATIC__/admin/js/jquery.js"></script>
<script>

</script>
